main {
   width: 100%;
   min-width: 800px;
   text-align: center;
   margin: 50px 0;
   margin-right: auto;
   margin-left: auto;
}

div:first-child > h2 {
   font-size: 2em;
   font-weight: normal;
   margin-top: 10px;
}

#mainContent {
   width: 100%;
   height: 500px;
}

#mainContent h2 {
   font-size: 3em;
   font-weight: normal;
}

h3 {
   font-size: 1.2em;
}

#mainContent div:nth-of-type(2) {
   display: inline-block;
   vertical-align: bottom;
}

a {
   text-decoration: none;
   color: #ffffff;
   font-weight: bold;
}

.circle-svg {
   position: relative;
}

.inner-circle-text {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.inner-circle-text p {
   padding: 0.2em;
   font-size: 14px;
   line-height: 20px;
}

.inner-circle-text h3 {
   font-weight: bold;
}

.passedNotPassed > div {
   margin-top: 80px;
   padding-right: 35px;
   padding-left: 35px;
   margin-left: 10px;
   margin-right: 10px;
}

.passedNotPassed > div:first-of-type > h3:first-of-type {
   margin-top: -25px;
}

.correct {
   display: inline-block;
   width: 33.33%;
   height: 280px;
}

.wrong {
   display: inline-block;
   width: 33.33%;
   height: 280px;
   text-align: right;
}

.cyanH3 {
   color: #00ffff;
}

.pinkH3 {
   color: #d20094;
   padding-top: 5px;
}

.cyanH3 + p:first-of-type {
   padding-top: 22px;
}

button {
   background: none;
   width: 210px;
   height: 60px;
   font-size: 1.2em;
   border: 1px solid #ffffff;
   color: #ffffff;
   box-shadow: 0 0 70px 50px #3e2872, 0 0 70px 5px #00ffff;
}

.percentage {
   width: 25%;
   margin: 0 auto;
   font-weight: bold;
}

.percentage > p:first-of-type {
   font-size: 3em;
}

#correctQuestionsNumber {
   text-align: left;
}

#wrongQuestionsNumber {
   text-align: right;
}

.align-left {
   text-align: left;
}

.margin-0 {
   margin: 0;
   width: 100%;
}