@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@700&display=swap');

main {
    padding-left: 120px;
}

h1, h2 {
    font-family: 'Outfit', sans-serif;
   
}
h1{
    
    line-height: 0.8em;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 80px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #C2138d;
    padding-bottom: 20px;
}

button {
    background-color: #00FFFF;
    border: none;
    height: 60px;
    width: 220px;
    color: #0B113B;
    font-size: 22px;
    font-weight: 1000;
    font-family: 'Outfit', sans-serif;
    -moz-box-shadow: 0 0 25px #00FFFF;
    -webkit-box-shadow:0 0 25px #00FFFF;
     box-shadow: 0 0 25px #00FFFF;
     margin-left: 180px;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
}
ul{
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 100px;
}
li,label{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 2em;
}
span {
font-weight: 1000;
}
.bold {
font-weight: 1000;
}

.mark{
    display: none;  
}
label::before{
    content: " ";
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    top:5px;
    right: 5px;
}
